---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

$lavender: #ebd4ff; 
$orange: #ffe0b2;
$pink: #ffe8ed;

@import 'conference';

.organizer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.organizer-card {
  width: 250px;
  text-align: center;
}

.organizer-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.organizer-links a {
  margin: 5px;
  font-size: 18px;
  color: #0077b5;
}

.organizer-links img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.organizer-links i.fa-linkedin {
    font-size: 21px; /* Adjust to your preferred size */
    vertical-align: middle;
}




// Style for table header
.table-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

// Style for event types
.table-warning {
  background-color: #fff3cd !important;
}

// Style for different talk categories
.badge-category {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-block;
}

// Individual category colors
.category-structured-inference { background-color: #b0e0a8; color: black; }
.category-network-science { background-color: #d3c5f1; color: black; }
.category-ml-for-science { background-color: #f6da6e; color: black; }
.category-science-of-ml { background-color: #97a6ff; color: black; } /* Soft Coral */
.category-graphml { background-color: #ffb3ba; color: black; } /* Soft Blue */

// Table structure styling
.table {
  width: auto; /* Ensures the table does not stretch unnecessarily */
  max-width: 70%; /* Adjust as needed */
  margin: auto; /* Centers the table */
}

td {
  word-wrap: break-word; /* Ensures long text wraps */
  white-space: normal;
}


.time-col {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
/* Ensure the Event column is wider */
.event-col {
  text-align: center;
  width: 40% !important;
}

/* Keep header bold, but event contents normal */
.event-col strong {
  font-weight: normal !important;
}

.speaker-col {
  width: 30%;
  text-align: center;
}

.table-header th {
  font-weight: bold;
}