{% include partials/header.html %}

  {% assign this_room = page %}

  <h1 class="display-5 mb-3 text-break">
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.data.lang[site.conference.lang].location.directions | default: "Directions" }}
    {% endif %}
  </h1>

  {% assign this_room = page %}

  {% unless site.conference.location.hide %}
    {% include partials/navbar_rooms.html %}
  {% endunless %}

  {{ content }}

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9782743716237!2d-73.99347302365175!3d40.74050357138928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a393e07a3b%3A0x8849799a20fe5d4a!2sFlatiron%20Institute!5e0!3m2!1sen!2sus!4v1741747763340!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <!-- {% if site.conference.location.map %}
    <div id="map" class="mt-4 mb-3"></div>
  {% endif %} -->

{% include partials/footer.html %}
