{% include partials/header.html %}

  <div class="jumbotron">
    <h1 class="display-3 text-break">
      {% if site.conference.main.logo.img %}
        <p style="text-align:center;">
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-75 d-none d-md-inline" alt="{{ site.title }}" />
        <img src="{{ site.conference.main.logo.img | prepend: '/assets/images/' | prepend: site.baseurl }}" class="w-100 d-md-none" alt="{{ site.title }}" />
        </p>
      {% elsif page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    {% if site.description != none %}
      <p class="lead">
        {{ site.description | markdownify | replace: '<p>', '<p class="lead">' }}
      </p>
    {% endif %}

    <hr class="my-4">

    {{ content }}

    <ul class="organizers-list">
      {{ range $contact := .contacts }}
        <li class="organizer-item" itemscope itemtype="http://schema.org/Organization">
          <a href="{{ .url }}" class="organizer-link" itemprop="url" target="_blank">
            <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
          </a>
          <!-- <p class="organizer-name">{{ .name }}</p>
          <p class="organizer-email">{{ .email }}</p>-->
          <div class="organizer-details">
            <p class="organizer-name">{{ .name }}</p>
            <p class="organizer-affiliation">{{ .affiliation }}</p>
            <p class="organizer-email">{{ .email }}</p>
            <div class="icon-links">
              <a href="{{ $contact.home }}" target="_blank"><i class="fas fa-home"></i></a> <!-- Home icon -->
              <a href="{{ $contact.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a> <!-- LinkedIn icon -->
              <a href="{{ $contact.googleScholar }}" target="_blank"><i class="fas fa-graduation-cap"></i></a> <!-- Google Scholar icon -->
            </div>
    
          </div>
        </li>
      {{ end }}
    </ul>

  </div>

{% include partials/footer.html %}
