{% include partials/header.html %}

<h1 class="display-5">Schedule</h1>
<!--<h4 class="text-muted">Week of: <span class="text-primary">April 21</span></h4>-->

{% for day in site.data.program.days %}
  <h2 class="mt-4">{{ day.name }}</h2>
  <table class="table table-bordered">
    <thead class="table-header">
      <tr>
        <th class="time-col" style="width: 20%;">Time</th>
        <th class="event-col" style="width: 50%;">Event</th> <!-- Increased width -->
        <th class="speaker-col" style="width: 30%;">Speaker</th>
      </tr>
    </thead>
    <tbody>
      {% for room in day.rooms %}
        {% for event in room.events %}
          <tr class="{% if event.type == 'break' %} table-warning {% endif %}">
            <td>{{ event.time_start }}{% if event.time_end %} - {{ event.time_end }}{% endif %}</td>
            <td style="font-weight: normal;"> <!-- Removed bold -->
              {{ event.title }}
              {% if event.category %}
                <span class="badge badge-category category-{{ event.category | downcase | replace: " ", "-" }}">{{ event.category }}</span>
              {% endif %}
            </td>
            <td>{% if event.speaker %}{{ event.speaker }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endfor %}

{% include partials/footer.html %}
