{% include partials/header.html %}

<!--<h1 class="display-5 mb-4 text-break">-->
<!--  {% if page.title %}-->
<!--    {{ page.title }}-->
<!--  {% else %}-->
<!--    {{ site.data.lang[site.conference.lang].speaker.overview | default: "Speakers" }}-->
<!--  {% endif %}-->
<!--</h1>-->

{{ content }}

<!-- Invited Speakers Section -->
<h2 class="mt-5">Speakers</h2>
<div class="speakerlist">
  {% assign cur_letter = false %}
  {% assign speakers = site.speakers | where: "category", "Invited Speaker" | sort_natural: "first_name" %}

  {% for speaker in speakers %}
    {% assign last_letter = speaker.first_name | slice: 0 | capitalize %}

    {% if cur_letter != last_letter %}
      {% if cur_letter %}
          </ul>
        </div>
      {% endif %}

      {% assign cur_letter = last_letter %}
      <div class="speakergroup">
        <h3>{{ cur_letter }}</h3>
        <ul class="list-unstyled">
    {% endif %}

    <li class="font-weight-light">
      {% if speaker.hide %}
        {{ speaker.first_name }} {{ speaker.last_name }}
      {% else %}
        <a href="{{ speaker.url | prepend: site.baseurl }}">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </a>
      {% endif %}
    </li>

  {% endfor %}

    </ul>
  </div>
</div>

<!-- Student Speakers Section -->
<h2 class="mt-5">Student Speakers</h2>
<div class="speakerlist">
  {% assign cur_letter = false %}
  {% assign student_speakers = site.speakers | where: "category", "Student Speaker" | sort_natural: "first_name" %}

  {% for speaker in student_speakers %}
    {% assign last_letter = speaker.first_name | slice: 0 | capitalize %}

    {% if cur_letter != last_letter %}
      {% if cur_letter %}
          </ul>
        </div>
      {% endif %}

      {% assign cur_letter = last_letter %}
      <div class="speakergroup">
        <h3>{{ cur_letter }}</h3>
        <ul class="list-unstyled">
    {% endif %}

    <li class="font-weight-light">
      {% if speaker.hide %}
        {{ speaker.first_name }} {{ speaker.last_name }}
      {% else %}
        <a href="{{ speaker.url | prepend: site.baseurl }}">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </a>
      {% endif %}
    </li>

  {% endfor %}

    </ul>
  </div>
</div>

{% include partials/footer.html %}
