{%- assign speaker = page -%}

{%- unless speaker.hide -%}
  {%- include partials/header.html -%}

  <!-- Speaker Name -->
  <h1 class="font-weight-light mb-3 text-break">
    {{ speaker.first_name }} {{ speaker.last_name }}
  </h1>

  <!-- Affiliation -->
  {% if speaker.affiliation %}
    <h5 class="mt-4"></h5>
    <p>{{ speaker.affiliation }}</p>
  {% endif %}

  <!-- Talk Title -->
  {% if speaker.talk_title %}
    <h5 class="mt-4">Title</h5>
    <p>{{ speaker.talk_title }}</p>
  {% endif %}

  <!-- Abstract -->
  {% if speaker.abstract %}
    <h5 class="mt-4">Abstract</h5>
    <p>{{ speaker.abstract }}</p>
  {% endif %}

  <!-- Bio -->
  {% if speaker.bio %}
    <h5 class="mt-4">Bio</h5>
    <p>{{ speaker.bio }}</p>
  {% endif %}

  <!-- Personal Website -->
  {% if speaker.website %}
    <h5 class="mt-4">Website</h5>
    <p><a href="{{ speaker.website }}" target="_blank">{{ speaker.website }}</a></p>
  {% endif %}

  {%- include partials/footer.html -%}
{%- endunless -%}
